
:root {
    --primario: #785d56; 
    --secundario: #be4c54; 
    --random1: #c6b299 ; 
    --random2: #e6d5c1;
    --random3: #fff4e3; 
  }
body{
    margin: 0;
}

.Marco{
    border: 2px solid black;
}
.HeaderContainer{
    width: 100%;
    background-color: var(--random3);
    height: 15vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.7s ease;
    background-color: transparent;
}
.HeaderContainer.scrolled {
    height: 7.5vh; 
    opacity: 0.9; 
    background-color: var(--random3); 
    
}       
        .HeaderLogoContainer{
            height: 90%;
            width: 15vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.2vh;
            margin-left: 10vh;
            transition: all 0.3s ease;

            
            
        }
        .HeaderContainer.scrolled .HeaderLogoContainer {
            margin-top: 1.5vh;
        } 
                .HeaderTitle{
                    margin: 0;
                    transition: all 0.6s ease;
                }
          
                        #Vina{
                            font-family: "DM Serif Display", serif;
                            font-weight: 400;
                            font-style: normal;
                            color: rgb(61, 60, 60);
                        }
                        #And{
                            font-family: "DM Serif Display", serif;
                            font-weight: 200;
                            font-style: normal;
                            color:rgb(112, 8, 13);
                            margin-top: -0.5vh;
                        }
                        #Salvatores{
                            font-family: "Great Vibes", cursive;
                            font-weight: 400;
                            font-style: normal;
                            color: green;
                            
                        }
                                                
                        .HeaderContainer.scrolled #Vina {
                            font-size: 2vh; 
                            line-height: 1.5vh; 
                        }
                        .HeaderContainer.scrolled #And {
                            font-size: 1.5vh; 
                            margin-top: -0vh; 
                        }
                        .HeaderContainer.scrolled #Salvatores {
                            font-size: 2.3vh; 
                        }
        .HeaderNavigationContainer{
            height: 90%;
            width: auto;
            display: flex;
            align-items: center;
            margin-left: 5vh;
            
            
        }               
                .HeaderNavigationText{
                    margin: 1vh;
                    color: white;
                    text-decoration: none;
                    font-family: "DM Serif Display", serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 2vh;
                    
                    
                }
                .HeaderContainer.scrolled .HeaderNavigationText {
                    margin: 1vh;
                    color: black;
                    text-decoration: none;
                    font-family: "DM Serif Display", serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 2vh;
                }
        .HeaderSocialsContainer{
            color: aqua;
            
            margin-left: 70vh;
            
        }
                .HeaderSocialsImage{
                    width: 3vh;
                    margin-bottom: -1vh;
                    margin-inline: 2vh;
                }
.Hero{
 width: 100%;
    background-color: #785d56;
    position: relative;
}
        .HeroImage{
            width: 100%;
            height: 100vh;
            object-fit: cover;
            
        }

        .HeroText{
                    
            position: absolute; 
            display: flex;
            align-items: center;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: white; 
            text-align: center;
            

            
            border-radius: 8px;
            font-size: 5vh;
            /*border: 2px solid black;*/
        }
                .HeroTextTitle{
                    color: rgb(204, 163, 51);
                    font-family: "Great Vibes", cursive;
                    font-weight: 400;
                    font-style: normal;
                    
                }
                        #HeroVina{
                            color: aliceblue;
                        }
                        #HeroAnd{
                            color: aliceblue;
                        }
                        #HeroSalvatores{
                            color: aliceblue;
                        }
                .HeroTextText{
                    
                }
.Main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 5vh;
}
        .MainText{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5vh;  
        }
        
                .MainImageImage{
                    width: 100%;
            
                object-fit: cover;
                }